* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ddebff;
    width: 100%;
}
nav {
    background-color: #f7d987;
    font-family: "Magra";
    font-size: 1.6rem;
    height: 80px;
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 100px;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    width: 200px;
}

.onglets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

section {
    width: auto;
    position: relative;
}

.ssmenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 2px;
    opacity: 0;
    transition: all 2s;
    font-size: 1.3rem;
}

section:hover:nth-child(3) ul {
    opacity: 1;
    transition: all 1s;
}

section:hover:nth-child(1) ul {
    opacity: 1;
    transition: all 1s;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    font-weight: bolder;
}

.onglets li {
    padding: 10px 5px;
    background-color: whitesmoke;
    text-align: center;
    border: 2px solid #f7d987;
}

.onglets li:last-child {
    border-top: none;
}

.onglets li:hover {
    background-color: #ddebff;
}

.o1 {
    border: 2px solid black;
    border-radius: 7px;
}
.o2 {
    border: 2px solid #f7d987;
    border-radius: 7px;
}

.burger {
    display: none;
}

.navbar_lien {
    display: none;
}

section:hover {
    background-color: #ddebff;
    /* border-radius: 10px; */
    cursor: pointer;
}

.presentation {
    position: relative;
    height: 1260px;
    /* background-image: url("telecom3.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}

.fond {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
}

.presaccueil {
    position: relative;
    margin: auto;
    padding: 80px 10px 10px 10px;
    font-size: 2rem;
    color: black;
    width: 85%;
    text-align: left;
}

.nom  {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Oxygen";
}

.titreaccueil2  {
    position: relative;
    display: flex;
    align-items: baseline ;
    justify-content: center; 
    color: black;
}

.titreaccueil2 h1 {
    font-size: 3rem;
    
    font-family: "Oxygen";
    font-weight: bold;
   
}

.part2  {
   font-size: 2.4rem; 
   font-weight: normal;
   font-family: "Oxygen";
    margin-left: 25px;
}

.animation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    color: black;
    font-family: "Oxygen";
    font-weight: bold;
    justify-content: center;
    width: 300px;
    align-content: center;
    margin: auto;
    transform: scale(0.65);
    animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.anim {
    padding: 10px;
    opacity: 0;
    filter: blur(15px);
    letter-spacing: 12px;
}

.anim::first-letter {
    font-size: 145%;
    font-family: "Magra";
    color: #eb017b;
    text-shadow: 2px 4px 5px black;
}

.anim:nth-child(1) {
    animation: fade-in 1.2s 0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.anim:nth-child(2) {
    animation: fade-in 1.2s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.anim:nth-child(3) {
    animation: fade-in 1.2s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.anim:nth-child(4) {
    animation: fade-in 1.2s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    padding-bottom: 30px;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.presaccueil2 {
    position: relative;
    margin: auto;
    padding-top: 40px;
    font-size: 2.2rem;
    color: black;
    width: 90%;
    text-align: center;
    opacity: 1;
}

hr {
    position: relative;
    border-top: 4px solid #f7d987;
    width: 80%;
    margin: auto;
    box-shadow: 1px 1px 5px black;
}

.trypt {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.encadr {
    background-color: #f7d987;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 30px;
    color: black;
    margin: 10px;
    box-shadow: 15px 15px 15px black;
}



.encadr h2  {
    text-align: center;
    font-family: "Oxygen";
    font-size: 2rem;
}

.text {
    font-family: "Oxygen";
    font-size: 1.8rem;
    text-align: center;
}

.presentpart2  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   
}

#equip {
    padding: 30px;
    margin-bottom: 40px;
    width: 60%;
}

#equip h2 {
    font-family: "Magra";
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 30px;
}

#equip img {
    width: 100%;
    height: auto;
}

.implantation  {
    width: 40%;
    padding: 30px;
    margin-bottom:  40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.implantation h2, .implantation li  {
   
    text-align: center;
}


.implantation h2  {
 font-family: "Magra";
 padding-bottom: 15px;
}

.implantation li  {
    list-style: none ;
    font-family: "Oxygen";
}

.implantation img  {
    width: 65%;
    height: auto;
    margin: 40px auto 0 auto;
}

/* page contact */
.pgContact {
    position: relative;
    padding-bottom: 150px;
    height: 1260px;
}

form {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px 0;
}

#nom {
    width: 280px;
}
#email {
    width: 280px;
}

#website {
    width: 280px;
}

#sujet {
    width: 280px;
}

.titre {
    padding-top: 80px;
}

.titre h1 {
    position: relative;
    font-family: "Oxygen";
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

/* .labform {
    font-family: "Oxygen";
    font-size: 1.5rem;
    padding-top: 10px;
    font-weight: bold;
} */

.icon {
    width: 50px;
    height: 50px;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.phone {
    position: relative;
    width: 50%;
    padding: 50px;
    text-align: center;
}

.container {
    position: relative;
}

.container .box1, 
.box2 {
    position: relative;
    background-color: #f7d987;
    margin: 30px auto;
    box-shadow: inset 4px 4px 12px #645732;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    transition: 0.5s linear;
    transform-style: preserve-3d;
    transform-origin: center;
    cursor: pointer;
    font-size: 1.9rem;
}



.container .box1:after {
    content: "Fixe: +225 27 24 35 45 33  Portable:     +225 07 07 89 05 86";
    position: absolute;
    left: 0px;
    top: 55px;
    background-color: #eb017b;
    color: white;
    font-family: "Oxygen";
    height: 120px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top;
    font-size: 1.9rem;
}

.container .box2:after {
    content: "+225 07 89 05 86";
    position: absolute;
    left: 0px;
    top: 55px;
    background-color: #eb017b;
    color: white;
    font-family: "Oxygen";
    height: 120px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    transform-origin: top;
    font-size: 1.9rem;
}



.container .box1:hover,
.box2:hover {
    transform: translateY(-60px) rotateX(90deg);
    cursor: none;
}

.mail {
    position: relative;
    width: 50%;
}

.pgContact input:hover {
    box-shadow: 5px 5px 8px black;
}

.pgContact textarea:hover {
    box-shadow: 5px 5px 8px black;
}

.pgContact input:focus {
    box-shadow: 5px 5px 8px black;
}

.pgContact textarea:focus {
    box-shadow: 5px 5px 8px black;
}

.pgContact submit:hover {
    box-shadow: 5px 5px 8px black;
}

#subForm {
    padding: 3px;
    width: 100px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 0px;
}

.pgContact input,
textarea {
    font-family: "Magra";
    font-size: 1.2rem;
    margin: 6px 0;
    padding: 3px;
    border: none;
}

.pgContact input {
    font-weight: bold;
    border-radius: 12px;
    padding-left: 12px;
}

.pgContact textarea {
    border-radius: 5px;
}

form {
    background-color: #ddebff;
    border-radius: 5px;
    padding: 25px;
    margin: 15px 0 30px 0;
    /* border: 3px solid black; */
    box-shadow: 15px 15px 15px black;
    max-width: 700px;
    /* width: 90%; */
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.phone {
    width: 50%;
    padding: 50px;
    text-align: center;
}
.center_div {
    max-width: 700px;
}

.mail {
    width: 50%;
    padding: 50px;
    text-align: center;
}

.mail .error {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.mail .email_success {
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.numeros {
    background-color: #ddebff;
    color: black;
    border-radius: 5px;
    font-family: "Magra";
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 15px auto;
    /* border: 3px solid black; */
    box-shadow: 15px 15px 15px black;
    max-width: 460px;
}

.phone1,
.phone2,
.phone3 {
    display: none;
}

.numeros p {
    background-color: #f7d987;
    padding: 20px 0;
    margin: 25px 20px;
    border: 2px solid black;
    box-shadow: inset 4px 4px 12px #645732;
    cursor: pointer;
}

/* pgoffres */
.pgOffres {
    position: relative; 
}

.pgOffres h1 {
    position: relative;
    font-family: "Oxygen";
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    text-decoration: underline;
}

.Offres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.card .icon {
    margin-top: 50px;
    width: 80px;
    height: 80px;
}

.contenant {
    position: relative;
    z-index: 2;
    background-color: transparent;
    width: 350px;
    height: 380px;
    border-radius: 8px;
    margin: 80px;
    perspective: 1000px;
}

.card {
    width: 350px;
    height: 380px;
    text-align: center;
    box-shadow: 15px 15px 15px black;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    font-family: "Oxygen";
}

.contenant:hover .card {
    transform: rotateY(180deg);
    box-shadow: none;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background-color: #f7d987;
    color: black;
    border-radius: 8px;
}

.back {
    background-color: #f7d987;
    color: black;
    border-radius: 8px;
    transform: rotateY(180deg);
    padding-top: 65px;
    padding-left: 15px;
    text-align: left;
}

.back h3 {
    font-size: 1.6rem;
    color: #eb017b;
}

.back p {
    font-size: 1.2rem;
}

.back img {
    width: 50px;
    height: 50px;
}

.Offres div:nth-child(4) .back {
    padding: 90px 25px 0 25px;
}

.Offres div:nth-child(5) .back {
    padding-top: 30px;
}

.title {
    padding: 35px;
    font-family: "Oxygen";
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Partie2 pageoffre */
.part2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.affichScroll h2
/* .outils h2  */{
    font-family: "Magra";
    font-size: 3rem;
    padding: 20px 0 40px 0;
    color: #eb017b;
    text-align: center;
}

/* .outils {
    width: 30%;
    padding: 30px;
    margin: 40px;
    background-color: #f7d987;
}

.outils li {
    padding: 20px 0 20px 0;
    margin-left: 15%;
    list-style-type: square;
    font-size: 1.2rem;
    font-family: "Oxygen";
    font-weight: bold; 
}*/

.affichScroll li {
    padding: 10px 0 10px 35%;
    list-style: none;
    font-size: 1.8rem;
    font-family: "Oxygen";
    font-weight: bold;
}
.affichScroll li::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    background-image: url("arrow-icon-1178.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

.affichScroll {
    position: relative;
    z-index: 0;
    margin-top: 50px;
    width: 100%;
    opacity: 0;
    transform: translateY(-100%);
    letter-spacing: 2px;
    /* background-color: #f7d987; */
}

.affichScroll.active {
    animation-name: bounce, fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }

    60% {
        transform: translateY(0%);
    }
    70% {
        transform: translateY(-18px);
    }
    80% {
        transform: translateY(13px);
    }
    85% {
        transform: translateY(-9px);
    }
    90% {
        transform: translateY(5px);
    }
    94% {
        transform: translateY(-3px);
    }
    96% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* slideshow */

/* .slideshow-container {
    margin-top: 2vw;
    overflow: hidden;
    min-height: 60vmin;
    cursor: grab;
    position: relative;
    margin-bottom: 1vw;
}

.slideshow-container:active {
    cursor: grabbing;
}

.slideshow {
    position: absolute;
    height: 100%;
    display: flex;
    pointer-events: none;
}

.slide {
    flex-shrink: 0;
    height: 100%;
    width: 80vmin;
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
}

.s1 {
    background-image: url("pexels-photo-128402.jpeg");
}
.s2 {
    background-image: url("pexels-photo-227417.jpeg");
}
.s3 {
    background-image: url("pexels-photo-279329.jpeg");
}
.s4 {
    background-image: url("pexels-photo-344649.jpeg");
}
.s5 {
    background-image: url("pexels-photo-417344.jpeg");
}

.slide:not(:nth-child(1)) {
    margin-left: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
}

.slide h2 {
    color: black;
    /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.4); */
/* position: absolute;
    top: clamp(10px, 2vw, 20px);
    left: clamp(10px, 2vw, 20px);
    font-size: clamp(20px, 3vw, 40px);
    font-weight: 300;
}
.galerie h1 {
    font-family: "Magra";
    font-size: 3.2rem;
    font-weight: bold;
    padding-top: 50px;
    text-decoration: underline;
    text-align: center;
} */
/* realisations */

.PgRealis  {
       position: relative;
    height: 1260px;
}

.PgRealis .fond {
opacity: 0.45;
}

.CI,
.BF {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.CI h1,
.BF h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Oxygen";
    margin: 25px;
    text-decoration: underline;
}

.realCI,
.realBF {
    display: inline-block;
    margin-left: 38%;
    font-family: "Oxygen";
}

.CI h2,
.BF h2 {
    margin: 30px 0 15px 0;
    font-family: "Oxygen";
    font-size: 2rem;
}
.CI li,
.BF li {
    font-family: "Magra";
    font-size: 1.5rem;
    list-style-position: inside;
}

.BF {
    margin-bottom: 300px;
}
/* footer */
footer {
    position: absolute;
    font-family: "Magra";
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #f7d987;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descript {
    width: 25%;
    min-width: 250px;
    padding: 20px;
}

.descript a {
    color: #52c5ef;
    text-shadow: 1px 4px 4px black;
    font-size: 2.2rem;
}

.descript .lettrem {
    color: #eb017b;
}

.descript p {
    padding-top: 10px;
    width: 240px;
    text-justify: auto;
    margin: auto;
    font-family: "Oxygen";
    font-size: 1.2rem;
}
.menu3 {
    width: 15%;
    min-width: 150px;
    padding: 10px;
    font-size: 1.2rem;
    height: 60%;
}

.menu3 {
    margin: 20px 0 20px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
}

.menu3 a {
    margin: 0 auto 0 15px;
    padding: 0 0 15px 0;
}

.menu3 a:nth-child(3) {
    padding: 0;
}

.menu3 a::after {
    display: block;
    content: "";
    width: 0;
    height: 3px;
    background-color: #eb017b;
    transition: width 0.4s;
}
.menu3 a:hover::after {
    width: 100%;
}

.divers {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    font-family: "Oxygen";
}

.appelcontact  {
    height: 65%;
    font-size: 1.7rem;
    padding:20px
}

.appelcontact p  {
    padding-bottom: 10px;
}

.copyinfo {
    min-width: 250px;
    padding: 10px;
}

 .btncontact  {
    background-color: #153061;
    color: white;
    border-radius: 20px;
    padding: 4px 12px;
 }

 .btncontact:hover  {
   
    color:#52c5ef;
 }

 .iconpub   {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-weight: 100;
    font-size: 0.8rem;
    font-family: "Oxygen";
    margin-top: 40px;
 }

@media screen and (max-width: 1550px) and (min-width: 1200px) {
    nav {
        padding-right: 50px;
    }

    .contenant  {
        margin: 80px 20px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #153061;
    }

    .logo {
        width: 200px;
    }

    section {
        display: none;
    }

    nav {
        color: black;
        padding-left: 15%;
        z-index: 9;
    }

    .fond {
        display: none;
    }
    .presentation {
        height: auto;
        padding: 20px 10px 0px 10px;
    }

    .presaccueil {
        padding: 10px;
    }

    .presaccueil,
    .presaccueil2,
    #equip,
    .anim,
    .pgContact,
    .pgOffres h1 {
        color: white;
    }

    .burger {
        display: block;
        position: relative;
        margin-left: 70%;
        width: 45px;
        height: 35px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        align-content: center;
    }

    .bar {
        display: block;
        width: 28px;
        height: 4px;
        left: 0px;
        background-color: black;
        border-radius: 3px;
        transition: background-color 0.5s ease-in-out;
    }
    .appnav .bar {
        width: 0;
        background: transparent;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 28px;
        height: 4px;
        left: 0px;
        align-content: center;
        background-color: black;
        border-radius: 3px;
        position: absolute;
        transition: transform 0.5s ease-in-out;
    }
    .bar::before {
        transform: translateY(-8px);
    }
    .bar::after {
        transform: translateY(8px);
    }

    .appnav .bar::before {
        transform: rotate(-45deg);
    }

    .appnav .bar::after {
        transform: rotate(45deg);
    }
    /* onglets de navigation */
    .navbar_lien {
        display: block;
        position: fixed;
        top: -200px;
        width: 100%;
        transform: translateY(-280px);
        transition: all 0.8s;
        z-index: 8;
    }

    .navbar_lien.appnav2 {
        transform: translateY(280px);
        transition: all 1.5s;
    }

    .navbar_lien.appnav2 a {
        text-decoration: none;
    }

    .navlien {
        text-align: left;
        padding-left: 15%;
        font-family: "Magra", Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        padding-top: 18px;
        line-height: 45px;
        padding-bottom: 18px;
        background-color: white;
        border: 1px solid #f7d987;
    }

    .anim {
        letter-spacing: 4px;
    }

    .trypt {
        flex-direction: column;
    }

    .encadr {
        width: auto;
        box-shadow: 4px 4px 12px black;
    }
    h2 > br {
        display: none;
    }

    .titreaccueil2  {
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .titreaccueil2 h1  {
        font-size: 2.2rem;
        padding-bottom: 10px;
    }

    .titreaccueil2 .part2  {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: 0;
    }

    .presentpart2  {
        display: none;
    }

    .pgOffres h1 {
        font-size: 2.5rem;
    }

    .contenant {
        margin: 20px;
        width: 100%;
    }

    .card {
        width: 100%;
        box-shadow: none;
    }

    .contenant:hover .card {
        transform: none;
        box-shadow: none;
    }

    .part2 {
        display: flex;
        flex-direction: column;
    }

    .affichScroll {
        color: white;
        padding: 10px 0 10px 15%;
        width: 100%;
        padding: 0;
        margin: auto;
        opacity: 1;
        transform: translateY(0%);
    }

    .affichScroll.active {
        animation: none;
    }

    .affichScroll li {
        padding: 10px 10px 10px 10%;
        font-size: 1.2rem;
    }

    .affichScroll li::before {
        filter: invert(100%);
    }

    .affichScroll h2
    /* .outils h2  */{
        font-size: 2.5rem;
        padding: 0;
        font-family: "Oxygen";
    
    }

    /* .outils {
        margin: 20px;
        width: auto;
    }

     .outils li {
        padding: 10px 10% 10px 0;
        margin-left: 15%; 
        font-size: 1.2rem; 
    }*/

    .affichScroll .ul {
        width: 80%;
    }

    /* animations vitesse différente */
    .anim:nth-child(1) {
        animation: fade-in 0.8s 0s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    .anim:nth-child(2) {
        animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    .anim:nth-child(3) {
        animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }

    .anim:nth-child(4) {
        animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        padding-bottom: 30px;
    }

    /* page contact */
    .pgContact {
        padding: 20px;
        margin: auto;
        height: auto;
    }

    .pgContact textarea {
        width: 100%;
    }
    .pgContact h1 {
        font-size: 2rem;
        /* width: 75%; */
        /* margin: auto; */
    }

    #nom {
        width: 100%;
    }
    #email {
        width: 100%;
    }
    #sujet {
        width: 100%;
    }
    .pgContact {
        width: 100%;
    }

    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .phone {
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: left;
    }

    .phone img {
        filter: invert(100%);
    }

    .mail {
        width: 100%;
        margin: auto;
        padding: 20px;
        text-align: left;
    }

    .mail img {
        margin-left: 0;
        filter: invert(100%);
    }

    #subForm {
        margin: 20px auto;
        box-shadow: 5px 5px 8px black;
    }
    /* page realis */
    .realCI,
    .realBF {
        margin-left: 10%;
    }
    .CI,
    .BF {
        color: white;
    }

    .CI h1,
    .BF h1 {
        font-size: 2rem;
        margin-top: 60px;
    }

    .CI h2,
    .BF h2 {
        font-size: 1.7rem;
        font-family: "Oxygen";
    
    }
    .BF {
        margin-bottom: 50px;
    }

    /* footer */

    footer {
        flex-direction: column;
    }

    .descript {
        width: 100%;
    }

    .menu3 {
        width: 100%;
        display: none;
    }

    .divers {
        flex-direction: column;
        width: 100%;
    }

    .appelcontact  {
        font-size: 1.2rem;
        padding: 0 20px 10px 20px;
    }
    .appelcontact p  {
        padding: 0 20px 10px 20px;
    }

    .iconpub  {
        margin: 0;
        width: 100%;  
    }

    .iconpub a  {
        margin: 0;
    }
}



/* appel par touchscreen réservé aux smartphones */

@media screen and (max-width: 600px) {
    .numeros .box1,
    .numeros .box2 {
        display: none;
    }

    .numeros .phone1,
    .numeros .phone2,
    .numeros .phone3 {
        display: block;
        background-color: #f7d987;
        border: 3px solid black;
        box-shadow: inset 4px 4px 12px #645732;
        width: 95%;
        color: black;
        border-radius: 5px;
        font-family: "Magra";
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 10px auto;
        max-width: 400px;
    }
}
@media screen and (max-height: 500px)  {
    .navbar_lien.appnav2   {
        display:flex;
        flex-direction: row;  
    }

    .navbar_lien   {
         display:flex;
        flex-direction: row;
    }

    .navlien  {
        padding-left : 3px;
        width: auto;
        list-style-type: none;
        flex-grow: 1;

    }

}